@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&family=Lato&family=Oswald&family=Raleway:wght@300;400;500&display=swap');

/* ----------------- FONT FAMILIES
font-family: 'Inconsolata', monospace;

font-family: 'Lato', sans-serif;

font-family: 'Oswald', sans-serif;

font-family: 'Raleway', sans-serif; */

* {
  box-sizing: border-box;
}
body {
  font-family: 'Inconsolata', monospace;
}
a {
  text-decoration: none;
  color: inherit;
}
/* --------------------------- APP NAME */
h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
}

#theguardian {
  margin-bottom: 1rem;
  border-bottom: 2px solid rgba(36, 35, 27, 0.7);
  box-shadow: 0px 3px 0px 0px rgba(226, 196, 22, 0.5);
}
#theguardian img {
  width: 60px;
  height: 60px;
}

/* --------------------------- SUB-HEADER */
#sub-header {
  font-weight: 500;
}
img {
  width: 18px;
  height: 18px;
}

/* --------------------------- KEY-WORD SEARCH */
input[id='key-word'] {
  font-size: 18px;
  font-family: 'Inconsolata', monospace;

  width: 20rem;
  padding: 1rem;
  border: 2px solid rgba(36, 35, 27, 0.8);
  border-bottom: 3px solid rgba(36, 35, 27, 0.8);
  border-radius: 12px;
  box-shadow: 0px 3px 3px rgba(226, 196, 22, 0.5);

  transition: all 0.5s;
}
input[id='key-word']:focus,
input[id='key-word']:hover {
  outline: none;
  box-shadow: 1px 4px 6px rgba(226, 196, 22, 0.9);
}
.search-label {
  justify-content: center;
  align-items: center;
}

/* --------------------------- TEMPLATE */
.result-box {
  padding: 0.3rem;
  margin-bottom: 1rem;

  border: 2px solid rgba(36, 35, 27, 0.8);
  border-bottom: 3px solid rgba(36, 35, 27, 0.8);
  border-radius: 12px;
  box-shadow: 0px 3px 3px rgba(54, 20, 55, 0.5);
}
.tags {
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(36, 35, 27, 0.7);
  /* box-shadow: 0px 1px 0px 0px rgba(54, 20, 55, 0.5); */
}
.section-name {
  background-color: #60067e;
  color: #fcf0ff;
  font-size: 14px;
  padding: 0.3rem;
  border-radius: 30px;
}
.type {
  background-color: #7b0b2c;
  color: #fcf0ff;
  font-size: 14px;
  padding: 0.3rem;
  border-radius: 30px;
}
.web-title {
  transition: all 0.5s;
}
.web-title:hover {
  background-color: rgba(240, 217, 87, 0.5);
  border-radius: 20px;
}
/* ----------------------------------------------------------------- PRIMITIVES ------------------------------------------------------------- */
/* -----------------------------------------------------------------            ------------------------------------------------------------- */
/* -----------------------------------------------------------------            ------------------------------------------------------------- */

/* ------------------------------------------------ CENTER / WIDTH  */
.center {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.width-sm {
  max-width: 20rem;
}

.width-md {
  max-width: 50rem;
}

.width-lg {
  max-width: 60rem;
}

/* ------------------------------------------------ MARGIN STACKS  */
.stack-sm > * + * {
  margin-top: 0.5rem;
}

.stack-md > * + * {
  margin-top: 1rem;
}

.stack-lg > * + * {
  margin-top: 2rem;
}

.stack-xl > * + * {
  margin-top: 4rem;
}

/* ------------------------------------------------ HORIZONTAL ALIGNEMENT  */
.row {
  display: flex;
  gap: 1rem;
  /* flex-wrap: wrap; */
  align-items: center;
}

.gap-lg {
  gap: 2rem;
}

.gap-xl {
  gap: 4rem;
}

.justify-space-between {
  justify-content: space-between;
}

/* ------------------------------------------------ GRID  */
.grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); */
  /* gap: 1rem; */
  grid-template-columns: repeat(1, 1fr);
}

.column-lg {
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------------------------ */
